@charset "UTF-8";
			#top{
			width: 1400px;
			height: 65px;
			}
			#sidemenue{
				width: 200px;
				height: 700px;
			    border-right: 2px solid black;
			    margin-top: 20px;
			    float: left;			    
			}
			#login{
 				float:right;
 				width: 380px;
 				height: 60px;
 				border-bottom: 5px solid black;
 				padding-right: 20px;
 	 			}
 	 		#login ul{
 	 			list-style: none;
 	 			margin: 0;
 	 			padding: 0;
 	 		}
 	 		#login li{
 	 			float: left;
 	 		}
 	 		#login ul ul{
 	 			visibility: hidden;
 	 			position: absolute;
 	 			text-align: center;
 	 		}
 	 		#login ul li ul li{
 	 			width: 160px;
 	 			line-height: 20px;
 	 			text-align: center;
 	 			border-left: 2px solid black;
 	 			border-right: 2px solid black;
 	 		}
 	 		#login ul li:hover li{
 	 			visibility: visible;
 	 		}
 	 		#login ul ul li{
 	 			float: none;

 	 		}
 	 		#login li{
 	 			display: block;
 	 			font-size: 20px;
 				line-height: 40px;

 	 		}
 	 		.signup{
 	 			width: 120px;
 	 			height: 60px;
 	 			text-align: center;
 	 			line-height: 60px;
 	 		}
 	 		.signup:hover{
 	 			background-color: green;
 	 		}
 	 		#userpic{
 	 			border-radius: 100%;
 	 			border: 3px solid black;
 	 			margin-right: 30px;
 	 			margin-left: 30px;
 	 			margin-top: 5px;
 	 			}
 	 		#loginbotton{
 	 			width: 80px; 
 	 			height: 25px; 
 	 			font-size: 15px; 
 	 			border-radius: 30%;
 	 			background-color: yellow;
 	 			border: 3px solid black;
 	 			line-height: 15px;
 	 		}